/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxx  MOBILE SIZE OPTIMATION  xxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.uvodni-strana {
  width: 400px;
  height: 620px;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  margin: 70px auto;
}
/* margin: auto - zarovná doprostřed */

.uvodni-strana__obrazek img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 20px;
}

.uvodni-strana__text p {
  margin: 0px 25px 25px 25px;
  font-size: 16px;
}

.tlacitka a,
.tlacitka-rules a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  margin: 0px;
}

.tlacitka-rules {
  padding-bottom: 2rem;
  background-color: #ffc8da;
}

.tlacitka__pravidla,
.tlacitka__uvodni-strana {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.tlacitka__pravidla,
.tlacitka__uvodni-strana:hover {
  background-color: #1cbb96;
}

.tlacitka__zacit-hrat {
  background-color: #0197f6;
}

.tlacitka__zacit-hrat:hover {
  background-color: #0090e9;
}

.rules {
  display: block;
  text-align: left;
}

/* Jak udělat nevyplněná kolečka u <ul>
list-style: circle;
list-style-position: outside; */

li {
  padding: 0.5em 2em 0 1em;
  border-left: 2em;
  margin-left: 4vw;
}

.body__rules {
  margin-top: 10rem;
}

.rules__3 img {
  filter: invert(100%);
  height: 0.9em;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 1em;
  max-width: 80vw;
  margin: auto;
  font-size: 85%;
}

/* height: calc(width / 2); */

figcaption {
  padding: 1em 0 0.5em 0;
  text-align: center;
  display: block;
  height: 80px;
  font-style: italic;
}

figure img {
  width: 100%;
  height: 100%;
}

/* border: thin #c0c0c0 solid; */

.body__rules {
  width: 90vw;
  min-height: 100vh;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  margin: auto;
}

.title__rules {
  padding-top: 30px;
  margin-top: 2rem;
  font-family: 'Lobster', cursive;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TABLET SIZE OPTIMATION, breakpoint at 768px  
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
Source: https://webflow.com/blog/3-new-larger-breakpoints-in-webflow
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media only screen and (min-width: 768px) {
  .body__rules {
    width: 70%;
    margin: auto;
    max-width: 100vw;
  }

  figure {
    flex: 0 0 50%;
    max-width: 45%;
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
  }

  .figure {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DESKTOP SIZE OPTIMATION, breakpoint at 1280px  
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
seems it works well as it is*/
