/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxx  MOBILE SIZE OPTIMATION  xxxxxxx
xxxxxxxxxx  1st homework: HOME PAGE xxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.uvodni-strana {
  width: 400px;
  height: 620px;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  margin: 70px auto;
}
/* margin: auto - zarovná doprostřed */
/* width: 400px;
height: 620px; */

.uvodni-strana__obrazek img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.8rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 20px;
}

.uvodni-strana__text p {
  margin: 0px 25px 25px 25px;
  font-size: 16px;
}

.tlacitka a,
.tlacitka-rules a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  margin: 0px;
}

.tlacitka-rules {
  padding-bottom: 2rem;
  background-color: #ffc8da;
}

.tlacitka__pravidla,
.tlacitka__uvodni-strana {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.tlacitka__pravidla,
.tlacitka__uvodni-strana:hover {
  background-color: #1cbb96;
}

.tlacitka__zacit-hrat {
  background-color: #0197f6;
}

.tlacitka__zacit-hrat:hover {
  background-color: #0090e9;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxx 2nd homework: RULES xxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.rules {
  display: block;
  text-align: left;
}

/* Jak udělat nevyplněná kolečka u <ul>
list-style: circle;
list-style-position: outside; */

li {
  padding: 0.5em 2em 0 1em;
  border-left: 2em;
  margin-left: 4vw;
}

.body__rules {
  margin-top: 10rem;
}

.rules__3 img {
  filter: invert(100%);
  height: 0.9em;
  vertical-align: baseline;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 1.6rem;
  max-width: 70vw;
  margin: auto;
  font-size: 85%;
}

/* height: calc(width / 2); */

figcaption {
  padding: 1em 0 0.5em 0;
  text-align: center;
  display: block;
  height: 80px;
  font-style: italic;
}

figure img {
  width: 100%;
  height: 100%;
}

/* border: thin #c0c0c0 solid; */

.body__rules {
  width: 90vw;
  min-height: 100vh;
  border-radius: 6px 6px 0 0;
  margin: auto;
  background-color: #283e50;
}

.title__rules {
  padding-top: 30px;
  margin-top: 2rem;
  font-family: 'Lobster', cursive;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TABLET SIZE OPTIMATION, breakpoint at 768px  
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
Source: https://webflow.com/blog/3-new-larger-breakpoints-in-webflow
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media only screen and (min-width: 768px) {
  .body__rules {
    width: 70%;
    margin: auto;
    max-width: 100vw;
  }

  figure {
    flex: 0 0 50%;
    max-width: 45%;
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
  }
}

.figure {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DESKTOP SIZE OPTIMATION, breakpoint at 1280px  
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
seems it works well as it is*/

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxx 3rd homework: GAME xxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.game {
  max-width: 80vmin;
  color: #ffffff;
  font-family: sans-serif;
  margin: 2rem auto;
}

.game__header {
  display: flex;
  justify-content: space-between;
  margin: 7% 0 7% 0;
}

.game__player {
  display: flex;
  align-items: center;
  width: calc(((100% - 1rem) / 3) * 2);
}

.game__player--text {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 3%;
}

.game__player--circle {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(100%);
}

.game__player--cross {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(100%);
}

.game__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc((100% - 1rem) / 3);
  margin: 0;
}

.game__icons a {
  margin-left: 5%;
  padding: 5% 7% 5% 7%;
  border-radius: 5px;
}

.game__icons--index img,
.game__icons--restart img {
  width: 100%;
}

.game__icons--index {
  background-color: #1fcca4;
}

.game__icons--index:hover,
.game__icons--index:focus {
  background-color: #1cbb96;
}

.game__icons--restart {
  background-color: #0197f6;
}

.game__icons--restart:hover,
.game__icons--restart:focus {
  background-color: #0090e9;
}

.board {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  margin-top: 1rem;
  border: solid black 1.5px;
}

.board__row {
  width: 100%;
  text-align: center;
  display: flex;
}

button {
  width: 10%;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.3);
  border: 1.5px solid rgb(38, 28, 78);
  transition: ease-in 0.15s background-size;
}

button:hover,
button:focus {
  background: rgba(255, 255, 255, 0.4);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxx 4th homework: JS script for hra.html xxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.btn--circle,
.btn--circle:focus,
.btn--circle:hover {
  background-image: url(image/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

.btn--cross,
.btn--cross:focus,
.btn--cross:hover {
  background-image: url(image/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}
