html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.uvodni-strana {
  width: 400px;
  height: 620px;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  margin: 70px auto;
}
/* margin: auto - zarovná doprostřed */

.uvodni-strana__obrazek img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 20px;
}

.title__rules {
  margin: 0;
}

.uvodni-strana__text p {
  margin: 0px 25px 25px 25px;
  font-size: 16px;
}

.tlacitka a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  margin: 0px;
}

.tlacitka__pravidla,
.tlacitka__uvodni-strana {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.tlacitka__pravidla:hover,
.tlacitka__uvodni-strana {
  background-color: #1cbb96;
}

.tlacitka__zacit-hrat {
  background-color: #0197f6;
}

.tlacitka__zacit-hrat:hover {
  background-color: #0090e9;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.rules {
  display: block;
  text-align: left;
}

/* Jak udělat nevyplněná kolečka u <ul>
list-style: circle;
list-style-position: outside; */

li {
  padding: 0.5em 4em 0 1em;
  border-left: 2em;
  margin-left: 4vw;
}

.rules__3 img {
  filter: invert(100%);
  height: 0.9em;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 2em;
  max-width: 60vw;
  margin: auto;
}

/* border: thin #c0c0c0 solid; */
.body__rules {
  width: 60vw;
  min-height: 100vh;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  margin: auto;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
 */
/* header {
  display: block;
  position: sticky;
  top: 0;

} */

/* background-color: inherit; */

/* background-color: #615dad; */
/* opacity: 1; */
/* 
.title__rules {
  position: sticky;
  top: 0;
} */

/* 
.title__rules {
  display: block; 
  position: sticky;
    margin-top: 0;
    } */

/* text-indent: 1em; */
/* display: inline-block; */
